body {
  font-family: "montserrat";
}

#title {
  background-color: #ff4c68;
}

h2{
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

h1.heading {
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.download-button {
  margin-top: 8%;
}

.title-image {
  width: 55%;
  transform: rotate(25deg);
  
  position: absolute;
  left:100px;

}

/* feature section */
#features {
  padding: 7% 12%;
  background-color: #fff;
  position: relative;

}

.feature {
  padding: 3rem;
  text-align: center;
}

.feature > h3 {
  font-family: "montserrat";
  font-weight: 800;
  font-size: 1.3rem;
}
.feature > p {
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;
 
  margin: 1rem;
}

.feature-icon:hover /*pseduo class */
{
  color:#ff4c68 ;
}

/* testimonial section */
#testimonials{
  
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-inner{
  padding: 9% 15%;
}

.testimonial-img{
  width:10%;
  border-radius:100%;
  margin:20px;
}

#press{
    background-color: #ef8172;
    padding-bottom:3%;
    text-align: center;
}

.press-img
{
  width:15%;
  margin: 20px 20px 50px;

}

/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column
{
  padding: 3% 2%;
}

/* call to action */
#cta{
  background-color:#ff4c68;
  text-align: center;
  padding: 10vh 20vw;

}
#cta>h3{
  font-family: montserrat;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;

}
button{
  margin:8px;
}

/* footer */

#footer{
background-color: #fff;
text-align: center;
padding: 40px;
}

.icon-link{
  margin: 10px 7px;
}


/* media query */
@media (max-width:1028px)
{
  .title-image
  {
    position: static;
    transform: rotate(0);
    margin:10% 0;
  }
  .title{
    text-align: center;
  }
}