body {
  font-family: "montserrat";
  text-align: center;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* headings */

.big-heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat";
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.download-button {
  margin-top: 8%;
}

/* title */

#title {
  text-align: left;
}

.title-image {
  width: 55%;
  transform: rotate(25deg);

  position: absolute;
  left: 100px;
}

/* feature section */
#features {
  padding: 7% 12%;

  position: relative;
}

.feature {
  padding: 3rem;
}

.feature-title {
  font-weight: 800;
  font-size: 1.3rem;
}

.feature > p {
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;

  margin: 1rem;
}

.feature-icon:hover /*pseduo class */ {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
}

.carousel-inner {
  padding: 9% 15%;
}

.testimonial-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}

.pricing-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* call to action */
#cta {
  padding: 10vh 20vw;
}

button {
  margin: 8px;
}

/* footer */

#footer {
  padding: 40px;
}

.icon-link {
  margin: 10px 7px;
}

/* media query */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    margin: 10% 0;
  }
  .title {
    text-align: center;
  }
}
